.formulario{
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

input{
    border: none;
    margin-bottom:5px;    
    width: 80%;
    border-radius: 5pt;
    text-align: center;
}
input:hover{
    border: 3px solid;
}